/* колір осн тексту #757575 */
/* другорядний колір тексту #212121 */
/* білий колір тексту #FFFFFF */
/* акцент тексту  #2196F3 */
/* другорядний колір фону #F5F4FA */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --primary-bg-color: #f5f5f5;
  --time-bg-color: #f5f4fa;
  --hero-bg-color: #2f303a;
  --accent-bg-color: #188ce8;
  --border-item-color: #eeeeee;
  --border-head-color: #ececec;
  --icon-color: #afb1b8;
  --icon-close-color: #000000;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Стилі для обнулення верхніх відступів у елементів */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* Клас для обнулення базових властивостей у списках (ul) */
.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

/* Клас для обнулення базових властивостей у посиланнях */
.link {
  text-decoration: none;
  color: inherit;
}

/* Властивості для коректного відображення картинок */
.img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Властивості  для обнулення курсива у address */
.address {
  font-style: normal;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

body {
  color: var(--primary-text-color);
  background-color: var(--white-color);
  font-family: Roboto, sans-serif;
  font-size: 16px;
  letter-spacing: 0.03em;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
  width: 1200px;
}

/*header*/
.page-header {
  border-bottom: 1px solid var(--border-head-color);
}

.main-nav {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
}
/* logo */
.logo {
  margin-right: 93px;

  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
  list-style: none;
  text-decoration: none;
}
.second-logo {
  color: var(--title-text-color);
}

/*nav*/

.site-nav {
  display: flex;
}

.contact-nav {
  display: flex;
  margin-left: auto;
}
.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.contact-nav .item + .item {
  margin-left: 40px;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-nav .link {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  align-items: center;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link:hover,
.site-nav .link:focus,
.contact-nav .link:hover,
.contact-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.site-nav .item {
  position: relative;
}
.site-nav .link.current::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: var(--accent-color);
  border-radius: 2px;
}

.contact-nav-icon {
  fill: currentColor;
  margin-right: 10px;
}

/*hero*/
.hero {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-color: var(--hero-bg-color);
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/img18.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  max-width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
/*section*/

.section {
  padding: 94px 0;
}

.section-title {
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

/*fetures*/

.feature-list {
  display: flex;
  padding: 0;
}

.feature-item {
  flex-basis: 270px;
  margin-right: 30px;
}
.feature-item:last-child {
  margin-right: 0;
}

.feature-title {
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.feature-text {
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.71;
}

.feature-box-icon {
  padding: 25px 100px;
  margin-bottom: 30px;
  background: var(--time-bg-color);
  border-radius: 4px;
}

/*description*/

.section.description {
  padding-top: 0;
}

.description-list {
  display: flex;
}

.discription-item:not(:last-child) {
  margin-right: 30px;
}
.discription-item {
  position: relative;
}

.description-text {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;

  color: var(--white-color);
  background: rgba(47, 48, 58, 0.8);
}

/* team */

.team.list {
  display: flex;
}

.team .item + .item {
  margin-left: 30px;
}

.team .item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--white-color);
}
.section.team {
  background-color: var(--time-bg-color);
}

.team-card {
  padding-bottom: 30px;
}

.team-img {
  margin-bottom: 30px;
}

.team-title {
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 500;
  line-height: 1.19;
  text-align: center;
}

.team-text {
  margin-bottom: 0;
  line-height: 1.19;
  text-align: center;
}

.social-box {
  display: flex;
  padding: 16px 32px 0px 32px;
  gap: 10px;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: var(--white-color);
  fill: var(--icon-color);
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:last-child {
  margin-right: 0px;
}

.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
  fill: var(--white-color);
}

/*clients*/

.client .section-title {
  margin-bottom: 50px;
}

.client-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.lient-item {
  padding: 16px 32px;
}
.client-link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 170px;
  height: 92px;
  border-radius: 4px;
  border: 1px solid var(--icon-color);
  color: var(--icon-color);

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-link:hover,
.client-link:focus {
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
}

.client-icon {
  fill: currentColor;
}

/* filtr*/

.list-button {
  display: flex;
  justify-content: center;
  margin-bottom: 56px;
}

.btn-item {
  margin-left: 8px;
}

/*examples of work*/

.work-list {
  display: flex;
  flex-wrap: wrap;
}

.work-card {
  display: flex;
  justify-content: column;
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.work-card:nth-child(3n) {
  margin-right: 0px;
}

.work-card:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.work-cards {
  padding: 20px 24px;
  border: 1px solid var(--border-item-color);
  border-top: none;
}

.work-card-title {
  margin-bottom: 4px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.work-card-text {
  margin-bottom: 0;
  color: var(--primary-text-color);
  line-height: 1.88;
}

.work-card .link {
  box-shadow: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.work-card .link:hover,
.work-card .link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.work-thumb {
  position: relative;
  overflow: hidden;
}

.work-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  padding: 63px 27px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;

  color: var(--white-color);
  background: rgba(33, 150, 243, 0.9);
}

.work-card .link:hover .work-overlay,
.work-card .link:focus .work-overlay {
  transform: translateY(0);
}

/*button*/

.button {
  display: inline-block;
  min-width: 67px;
  padding: 6px 22px;
  border: 1px solid transparent;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 500;
  font-size: inherit;
  line-height: 1.62;
  text-align: center;
  cursor: pointer;
}

.button.secondary {
  color: var(--title-text-color);
  background-color: var(--time-bg-color);
  box-shadow: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero .button {
  padding: 10px 24px;
  display: inline-block;
  font-weight: 700;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  border-color: var(--accent-color);
  color: var(--white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero .button:hover,
.hero .button:focus {
  background-color: var(--accent-bg-color);
}

.button.secondary:hover,
.button.secondary:focus {
  color: var(--white-color);
  background-color: var(--accent-bg-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* footer */
.second-logo.footer {
  color: var(--white-color);
}

.section.footer {
  padding: 60px 0px;
  background-color: var(--hero-bg-color);
}
.section.footer.box {
  padding: 0;
}
.address {
  padding-top: 28px;
}

.address .link {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-item {
  margin-bottom: 12px;
}
.address-item:last-child {
  margin-bottom: 0px;
}
.address .address-item-map {
  display: inline-block;
  color: var(--white-color);
}

.address .link:hover,
.address .link:focus {
  color: var(--accent-color);
}

.footer .container {
  display: flex;
  align-items: baseline;
}

.social-text {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
}

.address-box {
  margin-right: 70px;
}

.footer .social-box {
  padding: 0;
}

.footer .social-link {
  fill: var(--white-color);
  background: rgba(255, 255, 255, 0.1);
}

.footer .social-link:hover,
.footer .social-link:focus {
  background: var(--accent-color);
}

.subscription-form {
  display: flex;
  gap: 12px;
}
.subscription-box {
  margin-left: auto;
}

.subscription-button {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 10px;
  padding: 10px 28px;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}

.subscription-icon {
  fill: currentColor;
}
.subscription-text {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--white-color);
}
.subscription-input {
  padding: 15px 16px;
  height: 50px;
  width: 358px;
  color: var(--white-color);
  background-color: var(--hero-bg-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
}

.subscription-input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

/* Modal*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  visibility: visible;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-container {
  padding: 40px;
  width: 100%;
  max-width: 528px;
  height: 100%;
  max-height: 581px;
  background-color: var(--white-color);
  transform: scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  height: 100%;
}
.backdrop.is-hidden .modal-container {
  transform: scale(0.9);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 6px;
  display: flex;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--white-color);
  fill: var(--icon-close-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-close:hover {
  fill: var(--accent-color);
}
.modal-title {
  text-align: center;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

/*Form*/

.form-fild-label {
  color: var(--primary-text-color);
  margin-bottom: 4px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.form-fild-input {
  padding: 0 12px 0 42px;
  height: 40px;
  width: 100%;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
}

.form-fild-textarea {
  padding: 12px 16px;
  height: 120px;
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
}

.form-fild-input:focus {
  border-color: var(--accent-color);
}
.form-fild-input:focus + .form-fild-icon {
  fill: var(--accent-color);
}
.form-fild-textarea:focus {
  border-color: var(--accent-color);
}
.form-fild-textarea::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.form-fild {
  position: relative;
  margin-bottom: 10px;
}

.form-fild-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
}

.form-label-checkbox {
  position: relative;
  padding-left: 24px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.checkbox-input {
  appearance: none;
}

.checkbox-icon {
  position: absolute;
  margin: 4px 8px 0 0;
  width: 16px;
  height: 15px;
  fill: transparent;
  background-color: var(--white-color);
  border: var(--title-text-color) solid 2px;
  border-radius: 2px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox-input:checked + .checkbox-icon {
  fill: var(--white-color);
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.checkbox-link {
  color: var(--accent-color);
  text-decoration-skip-ink: none;
}

.form-submit {
  display: flex;
  margin: 0 auto;
  margin-top: 30px;
  padding: 10px 52px;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 200px;
  height: 50px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  border-color: var(--accent-color);
  color: var(--white-color);
  background-color: var(--accent-bg-color);
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-submit {
  background: var(--accent-color);
}
